.login-wrapper {
  margin-top: 100px;
  text-align: center;
}

#login-container,
#register-container {
  padding-top: 2rem;
}

#login-form,
#register-form {
  display: grid;
  grid-template-columns: 1fr;
  width: 14rem;
  margin: 0 auto;
  margin-top: 1rem;
}

.loginbtn,
.regbtn {
  margin: 0 auto;
  margin-top: 1rem;
  width: 7rem;
}

#register-button,
#close-register-button {
  width: 7rem;
  margin: 0 auto;
  margin-top: 1rem;
}

#register-container {
  display: none;
}
