.login-wrapper {
  margin-top: 100px;
  text-align: center;
}

#login-container,
#register-container {
  padding-top: 2rem;
}

#login-form,
#register-form {
  display: grid;
  grid-template-columns: 1fr;
  width: 14rem;
  margin: 0 auto;
  margin-top: 1rem;
  gap: 15px;
}

.loginbtn,
.regbtn {
  margin: 0 auto;
  width: 7rem;
  background-color: dodgerblue;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#register-button {
  width: 7rem;
  margin: 0 auto;
  margin-top: 1rem;
  background-color: dodgerblue;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#close-register-button {
  width: 7rem;
  margin: 0 auto;
  background-color: dodgerblue;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#register-container {
  display: none;
}
