body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

header {
  padding: 15px 20px;
  background-color: black;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.nav-header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

#menu-btn {
  background-color: white;
  border: transparent;
  background: transparent;
  color: white;
  font-size: 1.5rem;
}

.nav-links {
  height: 0;
  overflow: hidden;
}

.nav-link {
  color: white;
  list-style: none;
  margin: 25px 0;
  border-bottom: 2px solid white;
  width: 8rem;
}

a {
  text-decoration: none;
}

.nav-open {
  height: 100vh;
}

.main-area {
  background-image: url('../images/frontpage.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 70px;
  min-height: calc(100vh - 70px);
  text-align: center;
}

.container {
  background: black;
  color: #fff;
  position: absolute;
  margin-top: 20vh;
  margin-left: 1rem;
  margin-right: 1rem;
  opacity: 0.9;
  border-radius: 0.5rem;
  padding: 1rem;
}

.school-info {
  text-align: center;
  background-color: #d5d3d3;
  color: black;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.courses-info {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-info {
  text-align: center;
  background-color: #d5d3d3;
  color: black;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  font-size: larger;
  color: black;
  background: #d5d3d3;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  padding-bottom: 1rem;
}

@media (min-width: 1200px) {
  .info-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
